<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/style.css" />
</head>
<body>
    <nav>
        <a href="/">
            <img id="foto" src="{{ url_for('static', filename='/ruffo.jpg') }}">
            ATN
        </a>
    </nav>
    <h3>Agregar Ingreso</h3>
    <form action="/agregar-ingre" method="post">
        <label for="ingreso">Ingreso (en pesos):</label>
        <input type="number" id="ingreso" name="ingreso" required><br>

        <label for="descripcion"> De que? </label>
        <input type="text" id="descripcion" name="descripcion" required><br>

        <label for="fecha"> Fecha</label>
        <input type="date" id="fecha" name="fecha" required><br>

        <input type="submit" value="Agregar ingreso">
    </form>
</body>
</html>