<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/style.css" />
</head>
<body>
    <nav>
        <a href="/">
            <img id="foto" src="{{ url_for('static', filename='/ruffo.jpg') }}">
            ATN
        </a>
    </nav>
    <h3>ADMINISTRA TUS GASTOS</h3>
    <ul id="lista">
        <li>
            <a href = "/form-gasto">Agregar gasto</a>
        </li>

        <li>
          <a href = "/ver-gastos">Ver Gastos</a>
        </li>

        <li>
            <a href = "/form-elimi_gasto">Eliminar Gastos</a>
          </li>
    </ul>
</body>
</html>